*{
    color:black;
    font-size-adjust: 48px;
    





}
p{
    color:gra
}

.paratexte{[:read-only]


}


}

h1{color: rgb(150, 35, 35);
    font-size: 26;


}

h2{

    color:red;
    font-size:26 ;



}